@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: url("http://127.0.0.1:5000/static/images/predict.jpg") no-repeat center center/cover;
}

.container {
    width: 750px;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #eee;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box {
    background: rgba(255, 255, 255, 0.3);
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.input-box:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

label {
    font-size: 18px;
    font-weight: 600;
    color: #ffcc00;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    padding: 0 15px;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.radio-group:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.radio-group label {
    font-size: 18px;
    color: #ffff;
}

button {
    background-color: #ffcc00;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

button:hover {
    color: #ffcc00;
    background: rgba(0, 0, 0, 0.8);
    border-color: #ffcc00;
}
