
<!DOCTYPE html>
<html>
<head>
    <title>Admission Prediction</title>
<style>
body{
			
background: url("http://127.0.0.1:5000/static/images/congratulations.jpg");
	background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;	
}


</style>
<script>
        setTimeout(function(){
            window.location.href = "/";
        }, 5000);
    </script>
</head>

<body>
	
<center>
	
<h1>Admission Prediction</h1>
	
<br><br>	
<h2>You have a chance</h2>
	
</center>

</body>

</html>
